USE [master]
GO
/****** Object:  Database [Carros]    Script Date: 12/12/2020 10:36:18 PM ******/
CREATE DATABASE [Carros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Carros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Carros.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Carros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Carros_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Carros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Carros]
GO
/****** Object:  Table [dbo].[Carros]    Script Date: 12/12/2020 10:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carros](
	[IdCarro] [int] IDENTITY(1,1) NOT NULL,
	[NombreCarro] [varchar](100) NOT NULL,
	[MarcaCarro] [varchar](100) NOT NULL,
	[ModeloCarro] [varchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
	[PrecioCarro] [decimal](10, 2) NOT NULL,
	[Transmicion] [varchar](50) NOT NULL,
	[UrlFotoCarro] [varchar](max) NOT NULL
 CONSTRAINT [PK_Carros] PRIMARY KEY CLUSTERED 
(
	[IdCarro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/12/2020 10:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NombreCliente] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](20) NOT NULL,
	[ApellidoMaterno] [varchar](20) NOT NULL,
	[telefonoCliente] [varchar](10) NOT NULL,
	[DireccionCliente] [varchar](100) NOT NULL,
	[CorreoCliente] [varbinary](100) NOT NULL,
	[UrlFotoCliente] [varchar](max) NOT NULL
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Renta]    Script Date: 12/12/2020 10:36:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Renta](
	[IdRenta] [int] IDENTITY(1,1) NOT NULL,
	[FechaRenta] [datetime] NOT NULL,
	[IdCarro] [int] NOT NULL,
	[IdCliente] [int] NOT NULL
 CONSTRAINT [PK_Renta] PRIMARY KEY CLUSTERED 
(
	[IdRenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
